# This is the build command for your site
[build]
  command = "npm run build"  # Or "yarn build"
  publish = "build"          # Or "dist", check your project's build output folder
  functions = "netlify/functions"

# This rule ensures that your serverless functions are accessible

# Proxy to seating chart app
[[redirects]]
  from = "/seating/*"
  to = "https://seatingchartsimulator.netlify.app/:splat"
  status = 200

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

# This is the "catch-all" rule for your Single-Page App.
# It MUST come AFTER the functions redirect rule.
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
